<style>
    .post-preview{
        background: #f0f0f0;
    }    
    .post-preview .content{
        color: var(--standard-text-color);
    }
    .post-preview .date,
    .post-preview .extract{
        font-size: 12px;
        line-height: 1.2em;
    }
    .post-preview .button{
        font-size:14px;
        line-height:1.3em;
        padding: 3px 36px;
    }
</style>

{% set blog_categories = getBlogCategories(locale) %}

{% set left_col_size = "d-none" %}
{% set right_col_size = "col-12" %}

{% if theme.settings.blog.show_categories == 'yes' and blog_categories | length > 0  %}
    {% set left_col_size = "col-12 col-md-3" %}
    {% set right_col_size = "col-12 col-md-9" %}
{% endif %}
<div class="container">
    <div class="blog_heading">
		{% if request.path.2 == 'category' and request.path.3 != ''%}
		{% set current_blog_category = getBlogCategory(request.path.3) %}
			<h1 class="heading">{{current_blog_category.name}} <small>{{ posts_count }} {{lang('count.post')}}</small></h1>
			{% if current_blog_category.description != '' %}
				<div class="category_blog_description" >{{current_blog_category.description|raw}}</div>
			{% endif %}
		{% else %}
			<h1 class="heading">{{lang('blog')}} <small>({{ posts_count }} {{lang('count.post')}})</small></h1>
		{% endif %}
	</div>
    <div class="row">
        <div class="{{left_col_size}}">
            {% if blog_categories | length > 0 %}
				<div class="navigation-block">
					<nav class="blog-nav" role="navigation">
						<input id="blog-menu-state" data-target="#blog-menu" class="menu-state" type="checkbox" />
						<label class="main-menu-btn" for="blog-menu-state">
							<span class="main-menu-btn-icon"></span>
						</label>
						<span class="nav-brand nav-title xs-show"><a href="#"><strong>{{lang('blog.categories')}}</strong></a></span>
						<ul id="blog-menu" class="sm sm-vertical sm-clean menu vertical-menu">
							<li class="{% if request.path.3 == '' %}active{%endif%}">
								<a href="{{ request.script_name }}/blog">{{lang('front.all.categories')}}</a>
							</li>
							{% for blog_cat in blog_categories %}
								<li class="{% if request.path.3 == blog_cat._id%}active{%endif%}" >
									<a href="/blog/category/{{blog_cat._id}}/{{blog_cat.slug}}"  
									   class="{%if blog_cat._id == request.path.3%}active{%endif%}">{{blog_cat.name}}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
				</div>
			{% endif %}
        </div>
        <div class="{{right_col_size}}">
            <div class="row row-gap-4">
                {% for post in posts %}
					<div class="col-12 col-md-4">
						<div class="post-preview {{show_image}} d-flex flex-column justify-content-between h-100 p-3">
							{% if theme.settings.blog.show_post_image == 'yes' %}
								<a href="{{ postUrl(post) }}" title="{{post.title}}">
    								<div class="img mb-2">
    									{% if post.ext_img%}
    										<img src="{{post. ext_img}}" loading="lazy"/>
    									{% endif %}
    								</div>
								</a>
							{% endif %}
						
							<div class="content">
								<div class="date mb-1">{{ post.ts.sec | date("d/m/Y") }}</div>
								<div class="title mb-1 fw-bold">{{post.title}}</div>
								<div class="extract mb-3">{{ post.extract }}</div>
								<div class="btn button">{{lang('link.read.more')}} <i class="fa fa-angle-right"></i></div>
							</div>
						</div>
					</div>
				{% endfor %}
            </div>
            <div class="clearfix"></div>
			<div id="blog_pagination">
				{% if previous_page | length > 1 %}
				<a href="{{ previous_page }}" class="btn button-white pull-left"><i class="fa fa-angle-left"></i> {{lang('blog.prev.page')}} </a>
				{% endif %}
				{% if next_page | length > 1 %}
				<a href="{{ next_page }}" class="btn button-white pull-right"> {{lang('blog.next.page')}}  <i class="fa fa-angle-right"></i></a>
				{% endif %}
				<div class="clearfix"></div>
			</div>
        </div>
    </div>
</div>


<div id="section-container">
	{% set page_sections = attribute(theme_sections, 'blog')%}
		{% for section in page_sections  %}
		{% set vars = { 'section': section, 'layout' : 'container' } %}
		{% include section.template with vars %}
	{% endfor %}
</div>
