<div class="container">
	<div class="heading text-center">{{lang('front.reset.pw')}}</div>
	
	<div class="row">
	    <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
	
        	{% if resetPWcheck %}
        	<div class="well">
        		<form id="formPasswordReset">
        			<div class="form-group">
        				<label>{{lang('new.password')}}</label>
        				<input type="password" pattern=".{6,}" name="password" class="password form-control" required/>
        			</div>
        			<div class="form-group">
        				<label>{{lang('signup.password.rewrite')}}</label>
        				<input type="password" pattern=".{6,}" name="repassword" class="repassword form-control" required/>
        			</div>
        			<input type="hidden" name="id" id="idCheck" value="{{request.path.2}}" />
        			<div class="alert alert-danger alert-pw d-none" id="no-match">{{lang('front.error.pw.different')}}</div>
        			<div class="alert alert-danger alert-pw d-none" id="wrong-code">{{lang('front.error.pw.wrong.code')}}</div>
        			<div class="form-group form-submit text-end">	
        				<button type="submit" class="btn button">{{lang('admin.save')}}</button>
        			</div>
        		</form>
        	</div>
        	{% else %}
        	<div class="alert alert-danger">
        		{{lang('front.error.pw.code')}}
        	</div>
        	{% endif %}
    	</div>
	</div>
</div>