<div class="container">
	<div class="heading text-center">{{lang('login.password.lost')}}</div>
	
	{% set succ = request.query.result %}
	{% if succ == 'success' %}
		<div class="row">
			<div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 text-center">
				<strong>{{lang('password.recovery.email.send')}}</strong><br>
				<p>{{lang('password.recovery.email.send.text')}}</p>
				<a href="/shop" class="btn button">{{lang('back.to.shop')}}</a>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
				<div class="well">
					<form method="post" id="restore_password_form" action="/restore-password/send">
						<div class="form-group row">
							<label class="col-md-4 col-sm-5 col-xs-12">{{lang('password.recovery.email')}}:</label>
							<div class="col-md-8 col-sm-7 col-xs-12">
								<input type="email" name="email" value="" id="restorePwEmail" class="form-control" required/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-sm-5 col-xs-12">{{lang('password.recovery.captcha')}}:</label>
							<div class="col-md-8 col-sm-7 col-xs-12">
								<div id="captcha_control">
									{{createCaptcha() | raw}}
								</div>
							</div>
						</div>
						<div class="alert alert-danger d-none" id="noUserEmailError">
							{{lang('community.user.not.found.text')}}
						</div>
						{% if succ == 'wrong-code' %}
							<div class="alert alert-danger">
								{{lang('front.error.pw.wrong.code')}}
							</div>
						{% endif %}
						<div class="form-group form-submit text-end">
							<button type="submit" class="btn button">{{lang('password.recovery.send')}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
</div>