{% set banner_number = 0 %}
{% for position in 1..6 if attribute(vars.section.settings, 'show_banner_'~position) == "yes" %}
    {% set banner_number = banner_number + 1 %}
{% endfor %}
<style>
    #section_{{vars.section.id}}_multi_columns_box .multi-columns-grid{
        display:grid;
        grid-template-columns: repeat( {{banner_number}}, 1fr);
        grid-gap:{{vars.section.settings.gap}}px;
    }
    #swiper-{{vars.section.id}}{
        padding:0 {{vars.section.settings.gap}}px;
    }
    @media(max-width: 767px){
        #section_{{vars.section.id}}_multi_columns_box .multi-columns-grid{
	        grid-template-columns: repeat( {{vars.section.settings.mobile_col}}, 1fr);
	        grid-gap:{{vars.section.settings.gap_mobile}}px;
	    }
	    #swiper-{{vars.section.id}}{
            padding:0 {{vars.section.settings.gap_mobile}}px;
        }
    }
</style>
<section class="section template_multibox_2_to_6" id="section_{{vars.section.id}}_multi_columns_box">
	<div class="{{vars.layout}}">
	    
        {% set top_text_present = false %}
	    {% if attribute(vars.section.settings, 'title_'~locale) != "" %}
	        {% set top_text_present = true %}
		    <div class="heading {{vars.section.settings.title_position}} mb-0"  role="heading" aria-level="2">{{attribute(vars.section.settings, 'title_'~locale)}}</div>
	    {% endif %}
	    {% if attribute(vars.section.settings, 'subtitle_'~locale) != "" %}
	        {% set top_text_present = true %}
		    <div class="subtitle dn-text-secondary {{vars.section.settings.title_position}}">{{attribute(vars.section.settings, 'subtitle_'~locale)}}</div>
	    {% endif %}
        
		{% if vars.section.settings.type == "grid" or (vars.section.settings.type == "mobile-slider" and getDeviceInfo().type == "desktop") %}
    		<div class="multi-columns-grid {% if top_text_present %}mt-3{% endif %}">
        		{% for position in 1..6 if banner_number >= 2 %}
        		    {% if attribute(vars.section.settings, 'show_banner_'~position) == "yes" and attribute(vars.section.settings, 'blank_banner_'~position) != "yes" %}
                        <div class="single_box">
                            {% if attribute(vars.section.settings, 'link_'~position)  != '' %}
                                <a href="{{attribute(vars.section.settings, 'link_'~position)}}"
                                rel="{{attribute(vars.section.settings, 'link_'~position~'_REL') }}"
                                target="{{attribute(vars.section.settings, 'link_'~position~'_TARGET') }}"
                                title="{{attribute(vars.section.settings, 'link_'~position~'_TITLE')}}" >
                            {% endif %}
                            
                            {% set src_val = attribute(vars.section.settings, 'image_'~position) %}
                            {% set src_val_alt = attribute(vars.section.settings, 'image_alt_'~position) %}
                            {% if src_val == ''%}
                                {% set src_val = placeholders.image %}
                            {% endif %}
                            
                            <div class="banner_element">
                                {% if src_val_alt %}
                                    <div class="alt-img-container" style="background-image:url({{src_val_alt}});">
                                {% endif %}
                                <img src="{{src_val}}" 
                                    data-editor="{{vars.section.data_editor}}_{{position}}_image" 
                                    alt="{{attribute(vars.section.settings, 'image_'~position~'_ALT')|default(attribute(vars.section.settings, 'text_'~position~'_'~locale)|striptags|e)}}"
                                    data-placeholder="{{placeholders.image}}"
                                    loading="lazy">
                                {% if src_val_alt %}
                                    </div>
                                {% endif %}
                                
                                {% if attribute(vars.section.settings, 'text_'~position~'_'~locale) != '' %}
                                    <div class="caption-title mt-2 {% if attribute(vars.section.settings, 'button_'~position~'_position') == "full" %}text-center{% else %}{{attribute(vars.section.settings, 'button_'~position~'_position')}}{% endif %}"
                                        data-editor="{{vars.section.data_editor}}_text_{{position}}_{{locale}}">
                                        {{attribute(vars.section.settings, 'text_'~position~'_'~locale)|raw}}
                                    </div>
                                {% endif %}
                                {% if attribute(vars.section.settings, 'text_b_'~position~'_'~locale) != '' %}
                                    <div class="caption mt-2 dn-text-secondary" 
                                        data-editor="{{vars.section.data_editor}}_text_b_{{position}}_{{locale}}">
                                        {{attribute(vars.section.settings, 'text_b_'~position~'_'~locale)|raw}}
                                    </div>
                                {% endif %}
                            </div>
                            
                            {% if attribute(vars.section.settings, 'link_'~position)  != '' %}
                                </a>		
                            {% endif %}
                            {% if attribute(vars.section.settings, 'button_'~position~'_yn_'~locale) == "yes" %}
                                <div class="mt-4 {% if attribute(vars.section.settings, 'button_'~position~'_position') != "full" %}{{attribute(vars.section.settings, 'button_'~position~'_position')}}{% endif %}">
                                    <a href="{{attribute(vars.section.settings, 'button_'~position~'_link')}}" class="dn-btn dn-btn-brand-1 dn-btn-filled" {% if attribute(vars.section.settings, 'button_'~position~'_position') == "full" %}style="width:100%;"{% endif %}>{{attribute(vars.section.settings, 'button_'~position~'_text_'~locale)}}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% elseif attribute(vars.section.settings, 'show_banner_'~position) == "yes" and attribute(vars.section.settings, 'blank_banner_'~position) == "yes" %}
                        <div class="single_box text-center"></div>
                    {% endif %}
        		{% endfor %}
    		</div>
    	{% else %}
    	    {% set svg_arrow = '<svg width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.0867 6.12463C31.3756 5.83575 31.3756 5.36738 31.0867 5.0785L26.3791 0.37091C26.0903 0.0820293 25.6219 0.0820293 25.333 0.37091C25.0441 0.659791 25.0441 1.12816 25.333 1.41704L29.5175 5.60156L25.333 9.78608C25.0441 10.075 25.0441 10.5433 25.333 10.8322C25.6219 11.1211 26.0903 11.1211 26.3791 10.8322L31.0867 6.12463ZM0.974609 6.34129H30.5637V4.86184H0.974609V6.34129Z" fill="black"/></svg>' %}
    	    <!-- Slider main container -->
            <div class="swiper swiper-container {% if top_text_present %}mt-3{% endif %}" id="swiper-{{vars.section.id}}">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for position in 1..6 if banner_number >= 2 %}
            		    {% if attribute(vars.section.settings, 'show_banner_'~position) == "yes" and attribute(vars.section.settings, 'blank_banner_'~position) != "yes" %}
                            <div class="swiper-slide">
                                <div class="single_box">
                                    {% if attribute(vars.section.settings, 'link_'~position)  != '' %}
                                        <a href="{{attribute(vars.section.settings, 'link_'~position)}}"
                                        rel="{{attribute(vars.section.settings, 'link_'~position~'_REL') }}"
                                        target="{{attribute(vars.section.settings, 'link_'~position~'_TARGET') }}"
                                        title="{{attribute(vars.section.settings, 'link_'~position~'_TITLE')}}" >
                                    {% endif %}
                                    
                                    {% set src_val = attribute(vars.section.settings, 'image_'~position) %}
                                    {% set src_val_alt = attribute(vars.section.settings, 'image_alt_'~position) %}
                                    {% if src_val == ''%}
                                        {% set src_val = placeholders.image %}
                                    {% endif %}
                                    
                                    <div class="banner_element">
                                        {% if src_val_alt %}
                                            <div class="alt-img-container" style="background-image:url({{src_val_alt}});">
                                        {% endif %}
                                        <img src="{{src_val}}" 
                                            data-editor="{{vars.section.data_editor}}_{{position}}_image" 
                                            alt="{{attribute(vars.section.settings, 'image_'~position~'_ALT')|default(attribute(vars.section.settings, 'text_'~position~'_'~locale)|striptags|e)}}"
                                            data-placeholder="{{placeholders.image}}"
                                            loading="lazy">
                                        {% if src_val_alt %}
                                            </div>
                                        {% endif %}
                                        {% if attribute(vars.section.settings, 'text_'~position~'_'~locale) != '' %}
                                            <div class="caption mt-2" 
                                                data-editor="{{vars.section.data_editor}}_text_{{position}}_{{locale}}">
                                                {{attribute(vars.section.settings, 'text_'~position~'_'~locale)|raw}}
                                            </div>
                                        {% endif %}
                                    </div>
                                    
                                    {% if attribute(vars.section.settings, 'link_'~position)  != '' %}
                                        </a>		
                                    {% endif %}
                                    {% if attribute(vars.section.settings, 'button_'~position~'_yn_'~locale) == "yes" %}
                                        <div class="mt-4 {% if attribute(vars.section.settings, 'button_'~position~'_position') != "full" %}{{attribute(vars.section.settings, 'button_'~position~'_position')}}{% endif %}">
                                            <a href="{{attribute(vars.section.settings, 'button_'~position~'_link')}}" class="dn-btn dn-btn-brand-1 dn-btn-filled" {% if attribute(vars.section.settings, 'button_'~position~'_position') == "full" %}style="width:100%;"{% endif %}>{{attribute(vars.section.settings, 'button_'~position~'_text_'~locale)}}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% elseif attribute(vars.section.settings, 'show_banner_'~position) == "yes" and attribute(vars.section.settings, 'blank_banner_'~position) == "yes" %}
                            <div class="swiper-slide"><div class="single_box text-center"></div></div>
                        {% endif %}
            		{% endfor %}
                </div>
                
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-prev-custom"></div>
                <div class="swiper-button-next swiper-next-custom"></div>
                
            </div>
            <script>
                const swiper{{vars.section.id}} = new Swiper('#swiper-{{vars.section.id}}', {
                    // Navigation arrows
                    navigation: {
                        nextEl: '#swiper-{{vars.section.id}} .swiper-button-next',
                        prevEl: '#swiper-{{vars.section.id}} .swiper-button-prev',
                    },
                    slidesPerView: {{vars.section.settings.mobile_col}},
                    spaceBetween: {{vars.section.settings.gap_mobile}},
                    breakpoints: {
                        // when window width is >= 640px
                        767: {
                            slidesPerView: {{vars.section.settings.desktop_col}},
                            spaceBetween: {{vars.section.settings.gap}}
                        }
                    }
                });
            </script>
    	{% endif %}
    	
    	
		{% if vars.section.settings.button_yn == "yes" %}
    		<div class="text-center mt-3">
    		    <a href="{{attribute(vars.section.settings, 'button_link')}}"
                    rel="{{attribute(vars.section.settings, 'button_link_REL') }}"
                    target="{{attribute(vars.section.settings, 'button_link_TARGET') }}"
                    title="{{attribute(vars.section.settings, 'button_link_TITLE')}}"
                    class="dn-btn dn-btn-brand-1 dn-btn-filled">
        		    {{attribute(vars.section.settings, 'button_text_'~locale)}}
        	    </a>
    	    </div>
	    {% endif %}
	</div>
</section>